# Binarios compilados
*.o
*.exe
*.dll

# Backups
*.bak
*.bak[0-9]
*.bak*

# Archivos del sistema de compilación
.depend
compilacion.log

# Archivos de experiencia (cada usuario tiene el suyo)
*.exp
*.bexp

# Backups de personalidades
personalities.ini.bak
